.row{
    padding: 30px;
}
div{
    background-color: rgb(0, 54, 124);
    text-align: center;
    color: white;
    text-shadow: 4px 3px 2px black;
}
img{
    padding: 30px;
}
#nombre{
    font-size: 35px;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
    padding: 30px;
}
#trabajo{
    text-align: center;
    font-size: 20px;
}
#acercaDe{
    padding: 30px;
    color: white;
}