.row{
    padding: 20px;
}
div{
    background-color: rgb(0, 54, 124);
    text-align: center;
    color: white;
}
#nombre{
    font-size: 30px;
    font-weight: bold;
    margin-top: 5%;
    text-align: center;
    right: 20px;
}
#trabajo{
    text-align: center;
    font-size: 20px;
}
#acercaDe{
    padding: 20px;
    color: white;
}