<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-11">
        <ul>
            <li><h1>Universidad</h1> - <h3>(años)</h3></li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit commodi minima velit repellendus maiores a quasi totam voluptas illo, ab, dicta incidunt accusantium corrupti culpa consectetur, eaque nemo. Aliquam, sit?</p>
        </ul>
    </div>

    <div class="col-lg-11">
        <ul>
            <li><h1>cursos</h1> - <h3>(años)</h3></li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit commodi minima velit repellendus maiores a quasi totam voluptas illo, ab, dicta incidunt accusantium corrupti culpa consectetur, eaque nemo. Aliquam, sit?</p>
        </ul>
    </div>

    <div class="col-lg-11">
        <ul>
            <li><h1>Curso</h1> - <h3>(años)</h3></li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit commodi minima velit repellendus maiores a quasi totam voluptas illo, ab, dicta incidunt accusantium corrupti culpa consectetur, eaque nemo. Aliquam, sit?</p>
        </ul>
    </div>
</div>