
<div class="row">   
    <div>
        <h1>Habilidades duras y blandas</h1>
    </div>  
<div class="col-xl-6 col-md-6">
    <img src="../../../assets/html.png" alt="">
    <h5 class="m-b-30 f-w-700">HTML</h5>
    <div class="progress">
        <div class="progress-bar bg-c-red" style="width:90%"></div>
    </div>
</div>

<div class="col-xl-6 col-md-6">
    <img src="../../../assets/css.png" alt="">
    <h5 class="m-b-30 f-w-700">CSS</h5>
    <div class="progress">
        <div class="progress-bar bg-c-blue" style="width:70%"></div>
    </div>
</div>

<div class="col-xl-6 col-md-6">
    <img src="../../../assets/eng.png" alt="">
    <h5 class="m-b-30 f-w-700">English</h5>
    <div class="progress">
        <div class="progress-bar bg-c-green" style="width:75%"></div>
    </div>
</div>

<div class="col-xl-6 col-md-6">
    <img src="../../../assets/github.png" alt="">
    <h5 class="m-b-30 f-w-700">GitHub</h5>
    <div class="progress">
        <div class="progress-bar bg-c-yellow" style="width:70%"></div>
    </div>
</div>

<div class="col-xl-6 col-md-6">
    <img src="../../../assets/grupal.png" alt="">
    <h5 class="m-b-30 f-w-700">Grupal</h5>
    <div class="progress">
        <div class="progress-bar bg-c-yellow" style="width:65%"></div>
    </div>
</div>
</div>  